doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="/resources/site.css")
		link(rel="icon" type="image/x-icon" href="/resources/favicon.ico")
		title Link Created!
	body
		#header
			#nav-bar
				ul#nav-bar
					li.nav-item
						a.nav-item#nav-item-home(href='/')
							| Home
					li.nav-item
						a.nav-item#nav-item-info(href='/info')
							| FAQ
		#page-content
			h1 Success!
			if(feedAlreadyExists)
				p This feed has already been created and is available at 
					a(href=url)
						= url
			else
				p Your custom feed is available at 
					a(href=url)
						= url