doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="/resources/site.css")
		link(rel="icon" type="image/x-icon" href="/resources/favicon.ico")
		if(hostFeedIsValid)
			title Link Created!
		else
			title Try Again...
	body
		#page-content
			#home-text-container
				if(hostFeedIsValid)
					h1 Success!
				else
					h1 Oops!
				p </br>
				if(feedExists)
					p This feed has already been created and is available at 
						a(href=url)
							= url
				else if(hostFeedIsValid)
					p Your custom feed is available at 
						a(href=url)
							= url
				else
					p You have entered an invalid RSS feed. Make sure you have the correct URL and give it another go.