doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="/resources/site.css")
		link(rel="icon" type="image/x-icon" href="/resources/favicon.ico")
		title Home
	body#home
		#page-content
			h1 Welcome
			#home-text-container
				p </br>Enter an RSS feed URL with your desired settings below and we'll create a custom feed.</br>
				form(action="/create-feed" method="POST")
					| Host RSS feed URL: 
					input#host-feed-input(type="text" name="host" placeholder="http://..." autofocus="true")
					| </br>I want every 
					select(name="rule")
						option(value="2") 2nd
						option(value="3") 3rd
						option(value="4") 4th
						option(value="5") 5th
					|  episode.</br></br>
					input(type="submit" value="Create Feed")
				p </br>
			h1 What Is This?
			#home-text-container
				p </br>TLDRSS is a web utility that creates custom RSS feeds allowing users to selectively subscribe to only a subset of items, the primary use-case being podcast subscriptions. For example, rather than unsubscribing from one feed, you can create two custom feeds set to contain every 2nd episode. This creates less overall volume and allows for greater content diversity.</br></br>Note: At this time TLDRSS is running on a Heroku free tier dyno and as such is unavailable between 12 AM and 6:05 AM PST each day.