doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="/resources/site.css")
		link(rel="icon" type="image/x-icon" href="/resources/favicon.ico")
		title Home
	body#info
		#header
			#nav-bar
				ul#nav-bar
					li.nav-item
						a.nav-item#nav-item-home(href='/')
							| HOME
					li.nav-item
						a.nav-item#nav-item-info(href='/info')
							| INFO
		#page-content
			h1 Information
			p RSS Slicer is a web utility that creates custom RSS feeds allowing users to selectively subscribe to only a subset of items, the primary use-case being podcast subscriptions. For example, rather than unsubscribing from one feed, you can create two custom feeds set to contain every 2nd episode. This creates less overall volume and allows for greater content diversity.